# Macro for Unity YAML-based asset files.
[attr]unityyaml -text merge=unityyamlmerge diff

# Auto detect text files and perform LF normalization
* text=auto

# Unity
*.cs														diff=csharptexteol=lf
*.cginc												text
*.shader												text

# Unity YAML "mergeables" (hope so)
*.unity												-text filter=lfs merge=unityyamlmerge diff
*.prefab												-text filter=lfs merge=unityyamlmerge diff

*.asset												-text filter=lfs merge=unityyamlmerge diff
*.meta												-text filter=lfs merge=unityyamlmerge diff
*.physicMaterial2D							-text filter=lfs merge=unityyamlmerge diff
*.physicMaterial								-text filter=lfs merge=unityyamlmerge diff
*.mat													-text filter=lfs merge=unityyamlmerge diff
*.anim												-text filter=lfs merge=unityyamlmerge diff
*.controller										-text filter=lfs merge=unityyamlmerge diff
*.overrideController						-text filter=lfs merge=unityyamlmerge diff
*.playable											-text filter=lfs merge=unityyamlmerge diff
*.mask												-text filter=lfs merge=unityyamlmerge diff
*.flare													-text filter=lfs merge=unityyamlmerge diff
*.fontsettings									-text filter=lfs merge=unityyamlmerge diff
*.guiskin												-text filter=lfs merge=unityyamlmerge diff
*.giparams											-text filter=lfs merge=unityyamlmerge diff
*.renderTexture								-text filter=lfs merge=unityyamlmerge diff
*.spriteatlas										-text filter=lfs merge=unityyamlmerge diff
*.terrainlayer									-text filter=lfs merge=unityyamlmerge diff
*.mixer												-text filter=lfs merge=unityyamlmerge diff
*.shadervariants								-text filter=lfs merge=unityyamlmerge diff
*.preset												-text filter=lfs merge=unityyamlmerge diff
*.asmdef											-text filter=lfs merge=unityyamlmerge diff

*.lfs.*													lfs

*.cubemap										-text filter=lfs diff=lfs merge=lfs
*.unitypackage									-text filter=lfs diff=lfs merge=lfs

# Unity YAML "UN_mergeables" (think so)
*.bytes												text
*[Ll]]ighting[Dd]ata.asset				-text filter=lfs diff=lfs merge=lfs
*[Tt]errain[Dd]ata.asset					-text filter=lfs diff=lfs merge=lfs
*-[Tt]errain.asset								-text filter=lfs diff=lfs merge=lfs
*-[Nn]av[Mm]esh.asset					-text filter=lfs diff=lfs merge=lfs

# Executable/Installer
*.apk													-text filter=lfs diff=lfs merge=lfs
*.exe													-text filter=lfs diff=lfs merge=lfs

# Fonts
*.otf													fs
*.ttf														-text filter=lfs diff=lfs merge=lfs

#Image
*.[Bb][Mm][Pp]								-text filter=lfs diff=lfs merge=lfs
*.[Ee][Xx][Rr]										-text filter=lfs diff=lfs merge=lfs
*.[Gg][Ii][Ff]										-text filter=lfs diff=lfs merge=lfs
*.[Hh][Dd][Rr]									-text filter=lfs diff=lfs merge=lfs
*.[Ii][Ff][Ff]										-text filter=lfs diff=lfs merge=lfs
*.[Jj][Pp][Gg]										-text filter=lfs diff=lfs merge=lfs
*.[Jj][Pp][Ee][Gg]								-text filter=lfs diff=lfs merge=lfs
*.[Pp][Ii][Cc][Tt]								-text filter=lfs diff=lfs merge=lfs
*.[Pp][Nn][Gg]									-text filter=lfs diff=lfs merge=lfs
*.[Pp][Ss][Dd]									-text filter=lfs diff=lfs merge=lfs
*.[Tt][Gg][Aa]									-text filter=lfs diff=lfs merge=lfs
*.[Tt][Ii][Ff]										-text filter=lfs diff=lfs merge=lfs
*.[Tt][Ii][Ff][Ff]									-text filter=lfs diff=lfs merge=lfs
*.[Gg][Ii][Ff]										-text filter=lfs diff=lfs merge=lfs
*.[Aa][Ii]												-text filter=lfs diff=lfs merge=lfs

#Audio
*.[Aa][Ii][Ff]										-text filter=lfs diff=lfs merge=lfs
*.[Aa][Ii][Ff][Ff]									-text filter=lfs diff=lfs merge=lfs
*.[Ii][[Tt][Tt]]										-text filter=lfs diff=lfs merge=lfs
*.[Mm][Oo][Dd]								-text filter=lfs diff=lfs merge=lfs
*.[Mm][Pp]3										-text filter=lfs diff=lfs merge=lfs
*.[Oo][Gg][Gg]									-text filter=lfs diff=lfs merge=lfs
*.[Ss]3[Mm]										-text filter=lfs diff=lfs merge=lfs
*.[Ww][Aa][Vv]									-text filter=lfs diff=lfs merge=lfs
*.[Xx][Mm]										-text filter=lfs diff=lfs merge=lfs
*.[Bb][Aa][Nn][Kk]							-text filter=lfs diff=lfs merge=lfs
*.[Pp][Dd][Cc]									-text filter=lfs diff=lfs merge=lfs

#Video												
*.[Aa][Ss][Ff]										-text filter=lfs diff=lfs merge=lfs
*.[Aa][Vv][Ii]										-text filter=lfs diff=lfs merge=lfs
*.[Ff][Ll][Vv]										-text filter=lfs diff=lfs merge=lfs
*.[Mm][Oo][Vv]								-text filter=lfs diff=lfs merge=lfs
*.[Mm][Pp]4										-text filter=lfs diff=lfs merge=lfs
*.[Mm][Pp][Ee][Gg]							-text filter=lfs diff=lfs merge=lfs
*.[Mm][Pp][Gg]								-text filter=lfs diff=lfs merge=lfs
*.[Oo][Gg][Vv]									-text filter=lfs diff=lfs merge=lfs
*.[Ww][Mm][Vv]								-text filter=lfs diff=lfs merge=lfs

#3D Object
*.3[Dd][Mm]										-text filter=lfs diff=lfs merge=lfs
*.3[Dd][Ss]											-text filter=lfs diff=lfs merge=lfs
*.[Bb][Ll][Ee][Nn][Dd]						-text filter=lfs diff=lfs merge=lfs
*.[Cc]4[Dd]										-text filter=lfs diff=lfs merge=lfs
*.[Cc][Oo][Ll][Ll][Aa][Dd][Aa]			-text filter=lfs diff=lfs merge=lfs
*.[Dd][Aa][Ee]									-text filter=lfs diff=lfs merge=lfs
*.[Dd][Xx][Ff]									-text filter=lfs diff=lfs merge=lfs
*.[Ff][Bb][Xx]										-text filter=lfs diff=lfs merge=lfs
*.[Ff][Bb][Xx]										-text filter=lfs diff=lfs merge=lfs
*.[Jj][Aa][Ss]										-text filter=lfs diff=lfs merge=lfs
*.[Ll][Ww][Ss]									-text filter=lfs diff=lfs merge=lfs
*.[Ll][Xx][Oo]										-text filter=lfs diff=lfs merge=lfs
*.[Mm][Aa]										-text filter=lfs diff=lfs merge=lfs
*.[Mm][Aa][Xx]									-text filter=lfs diff=lfs merge=lfs
*.[Mm][Bb]										-text filter=lfs diff=lfs merge=lfs
*.[Oo][Bb][Jj]										-text filter=lfs diff=lfs merge=lfs
*.[Pp][Ll][Yy]										-text filter=lfs diff=lfs merge=lfs
*.[Ss][Kk][Pp]									-text filter=lfs diff=lfs merge=lfs
*.[Ss][Tt][Ll]										-text filter=lfs diff=lfs merge=lfs
*.[Zz][Tt][Ll]										-text filter=lfs diff=lfs merge=lfs
*.[Ss][Pp][Mm]									-text filter=lfs diff=lfs merge=lfs

#Compacted Archive
*.7[Zz]												-text filter=lfs diff=lfs merge=lfs
*.[Bb][Zz]2											-text filter=lfs diff=lfs merge=lfs
*.[Gg][Zz]											-text filter=lfs diff=lfs merge=lfs
*.[Rr][Aa][Rr]									-text filter=lfs diff=lfs merge=lfs
*.[Tt][Aa][Rr]										-text filter=lfs diff=lfs merge=lfs
*.[Zz][Ii][Pp]										-text filter=lfs diff=lfs merge=lfs

#Libraries
*.[Dd][Ll][Ll]										-text filter=lfs diff=lfs merge=lfs
*.[Pp][Dd][Bb]									-text filter=lfs diff=lfs merge=lfs
*.Pdb													-text filter=lfs diff=lfs merge=lfs
*.[Mm][Dd][Bb]								-text filter=lfs diff=lfs merge=lfs
*.[Ss][Oo]											-text filter=lfs diff=lfs merge=lfs

#Etc
*.[Aa]													-text filter=lfs diff=lfs merge=lfs
*.[Tt][Tt][Ff]										-text filter=lfs diff=lfs merge=lfs
*.[Rr][Nn][Ss]									-text filter=lfs diff=lfs merge=lfs
*.[Rr][Ee][Aa][Ss][Oo][Nn]				-text filter=lfs diff=lfs merge=lfs
*.[Dd][Oo][Cc]									-text filter=lfs diff=lfs merge=lfs
*.[Dd][Oo][Cc][Xx]							-text filter=lfs diff=lfs merge=lfs
*.[Dd][Oo][Tt]									-text filter=lfs diff=lfs merge=lfs
*.[Dd][Oo][Tt]									-text filter=lfs diff=lfs merge=lfs
*.[Pp][Dd][Ff]									-text filter=lfs diff=lfs merge=lfs
*.[Pp][Dd][Ff]									-text filter=lfs diff=lfs merge=lfs
*.[Rr][Tt][Ff]										-text filter=lfs diff=lfs merge=lfs
*.[Rr][Tt][Ff]										-text filter=lfs diff=lfs merge=lfs

# Collapse Unity-generated files on GitHub
*.unity												linguist-generated
*.prefab												linguist-generated
*.asset												linguist-generated
*.meta												linguist-generated
*.physicMaterial2D							linguist-generated
*.physicMaterial								linguist-generated
*.mat													linguist-generated
*.anim												linguist-generated
*.controller										linguist-generated
*.overrideController						linguist-generated
*.playable											linguist-generated
*.mask												linguist-generated
*.flare													linguist-generated
*.fontsettings									linguist-generated
*.guiskin												linguist-generated
*.giparams											linguist-generated
*.renderTexture								linguist-generated
*.spriteatlas										linguist-generated
*.terrainlayer									linguist-generated
*.mixer												linguist-generated
*.shadervariants								linguist-generated
*.preset												linguist-generated
*.asmdef											linguist-generated
*.lfs.*													linguist-generated
*.cubemap										linguist-generated
*.unitypackage									linguist-generated
*[Ll]]ighting[Dd]ata.asset				linguist-generated
*[Tt]errain[Dd]ata.asset					linguist-generated
*-[Tt]errain.asset								linguist-generated
*-[Nn]av[Mm]esh.asset					linguist-generated