# Macro for Unity YAML-based asset files.
[attr]unityyaml -text merge=unityyamlmerge diff

# Macro for all binary files that should use Git LFS.
[attr]lfs -text filter=lfs diff=lfs merge=lfs

# Auto detect text files and perform LF normalization
* text=auto

# Unity
*.cs														diff=csharptexteol=lf
*.cginc												text
*.shader												text

# Unity YAML "mergeables" (hope so)
*.unity												unityyaml
*.prefab												unityyaml

*.asset												unityyaml
*.meta												unityyaml
*.physicMaterial2D							unityyaml
*.physicMaterial								unityyaml
*.mat													unityyaml
*.anim												unityyaml
*.controller										unityyaml
*.overrideController						unityyaml
*.playable											unityyaml
*.mask												unityyaml
*.flare													unityyaml
*.fontsettings									unityyaml
*.guiskin												unityyaml
*.giparams											unityyaml
*.renderTexture								unityyaml
*.spriteatlas										unityyaml
*.terrainlayer									unityyaml
*.mixer												unityyaml
*.shadervariants								unityyaml
*.preset												unityyaml
*.asmdef											unityyaml

*.lfs.*													lfs

*.cubemap										lfs
*.unitypackage									lfs

# Unity YAML "UN_mergeables" (think so)
*.bytes												text
*[Ll]]ighting[Dd]ata.asset				-unityyaml lfs
*[Tt]errain[Dd]ata.asset					-unityyaml lfs
*-[Tt]errain.asset								-unityyaml lfs
*-[Nn]av[Mm]esh.asset					-unityyaml lfs

# Executable/Installer
*.apk													lfs
*.exe													lfs

# Fonts
*.otf													fs
*.ttf														lfs

#Image
*.[Bb][Mm][Pp]								lfs
*.[Ee][Xx][Rr]										lfs
*.[Gg][Ii][Ff]										lfs
*.[Hh][Dd][Rr]									lfs
*.[Ii][Ff][Ff]										lfs
*.[Jj][Pp][Gg]										lfs
*.[Jj][Pp][Ee][Gg]								lfs
*.[Pp][Ii][Cc][Tt]								lfs
*.[Pp][Nn][Gg]									lfs
*.[Pp][Ss][Dd]									lfs
*.[Tt][Gg][Aa]									lfs
*.[Tt][Ii][Ff]										lfs
*.[Tt][Ii][Ff][Ff]									lfs
*.[Gg][Ii][Ff]										lfs
*.[Aa][Ii]												lfs

#Audio
*.[Aa][Ii][Ff]										lfs
*.[Aa][Ii][Ff][Ff]									lfs
*.[Ii][[Tt][Tt]]										lfs
*.[Mm][Oo][Dd]								lfs
*.[Mm][Pp]3										lfs
*.[Oo][Gg][Gg]									lfs
*.[Ss]3[Mm]										lfs
*.[Ww][Aa][Vv]									lfs
*.[Xx][Mm]										lfs
*.[Bb][Aa][Nn][Kk]							lfs
#Video												
*.[Aa][Ss][Ff]										lfs
*.[Aa][Vv][Ii]										lfs
*.[Ff][Ll][Vv]										lfs
*.[Mm][Oo][Vv]								lfs
*.[Mm][Pp]4										lfs
*.[Mm][Pp][Ee][Gg]							lfs
*.[Mm][Pp][Gg]								lfs
*.[Oo][Gg][Vv]									lfs
*.[Ww][Mm][Vv]								lfs

#3D Object
*.3[Dd][Mm]										lfs
*.3[Dd][Ss]											lfs
*.[Bb][Ll][Ee][Nn][Dd]						lfs
*.[Cc]4[Dd]										lfs
*.[Cc][Oo][Ll][Ll][Aa][Dd][Aa]			lfs
*.[Dd][Aa][Ee]									lfs
*.[Dd][Xx][Ff]									lfs
*.[Ff][Bb][Xx]										lfs
*.[Ff][Bb][Xx]										lfs
*.[Jj][Aa][Ss]										lfs
*.[Ll][Ww][Ss]									lfs
*.[Ll][Xx][Oo]										lfs
*.[Mm][Aa]										lfs
*.[Mm][Aa][Xx]									lfs
*.[Mm][Bb]										lfs
*.[Oo][Bb][Jj]										lfs
*.[Pp][Ll][Yy]										lfs
*.[Ss][Kk][Pp]									lfs
*.[Ss][Tt][Ll]										lfs
*.[Zz][Tt][Ll]										lfs

#Compacted Archive
*.7[Zz]												lfs
*.[Bb][Zz]2											lfs
*.[Gg][Zz]											lfs
*.[Rr][Aa][Rr]									lfs
*.[Tt][Aa][Rr]										lfs
*.[Zz][Ii][Pp]										lfs

#Libraries
*.[Dd][Ll][Ll]										lfs
*.[Pp][Dd][Bb]									lfs
*.Pdb													lfs
*.[Mm][Dd][Bb]								lfs
*.[Ss][Oo]											lfs

#Etc
*.[Aa]													lfs
*.[Tt][Tt][Ff]										lfs
*.[Rr][Nn][Ss]									lfs
*.[Rr][Ee][Aa][Ss][Oo][Nn]				lfs
*.[Dd][Oo][Cc]									lfs
*.[Dd][Oo][Cc][Xx]							lfs
*.[Dd][Oo][Tt]									lfs
*.[Dd][Oo][Tt]									lfs
*.[Pp][Dd][Ff]									lfs
*.[Pp][Dd][Ff]									lfs
*.[Rr][Tt][Ff]										lfs
*.[Rr][Tt][Ff]										lfs

# Collapse Unity-generated files on GitHub
*.unity												linguist-generated
*.prefab												linguist-generated
*.asset												linguist-generated
*.meta												linguist-generated
*.physicMaterial2D							linguist-generated
*.physicMaterial								linguist-generated
*.mat													linguist-generated
*.anim												linguist-generated
*.controller										linguist-generated
*.overrideController						linguist-generated
*.playable											linguist-generated
*.mask												linguist-generated
*.flare													linguist-generated
*.fontsettings									linguist-generated
*.guiskin												linguist-generated
*.giparams											linguist-generated
*.renderTexture								linguist-generated
*.spriteatlas										linguist-generated
*.terrainlayer									linguist-generated
*.mixer												linguist-generated
*.shadervariants								linguist-generated
*.preset												linguist-generated
*.asmdef											linguist-generated
*.lfs.*													linguist-generated
*.cubemap										linguist-generated
*.unitypackage									linguist-generated
*[Ll]]ighting[Dd]ata.asset				linguist-generated
*[Tt]errain[Dd]ata.asset					linguist-generated
*-[Tt]errain.asset								linguist-generated
*-[Nn]av[Mm]esh.asset					linguist-generated