# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Ll]ibrary/
[Uu]nityPackageManager/
[Bb]uild*/
[Ll]og*/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
Library/
Temp/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.csproj
*.booproj
/*#.csproj
*#.dll
.vs/
*.bat
*.zip
*.sln
LD38/LD38.sln
Builds/
Screenshots/
fmod_editor.log

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/ConsolePro/
Assets/Heureka/
Assets/Plugins/EModules/
Assets/Plugins/EModules.meta
Assets/ConsolePro.meta
Assets/Heureka.meta
Recording/

Assets/AutoSave/

Assets/Grids MX/

Assets/Mad Compile Time Optimizer/

Assets/Plugins/

Assets/Viscera/

Assets/AutoSave\.meta

Assets/Grids MX\.meta

Assets/Viscera\.meta

Assets/Plugins\.meta

Assets/Mad Compile Time Optimizer\.meta

Assets/SceneOrganizer/

Assets/ScriptExecReorderManager/

Assets/SceneOrganizer\.meta

Assets/ScriptExecReorderManager\.meta

Assets/FindMissingComponents/

Assets/FindMissingComponents\.meta

Assets/FindPrefabsWithComponent\.meta

Assets/FindPrefabsWithComponent/

Assets/VolumetricLights-master/

Assets/PrimitivesPro/

Assets/PrimitivesPro\.meta

Assets/Cinemachine/

Assets/PostProcessing/

Assets/ProjectFiles/StateMachineScripts\.meta

Assets/ProjectFiles/PhysicsMaterials\.meta

Assets/VolumetricLights-master\.meta
Screenshots/
Recordings/

Assets/MeshMaker/

Assets/ProDrawCallOptimizer/

Assets/MeshMaker\.meta

Assets/ProDrawCallOptimizer\.meta

Assets/MeshBaker/
