# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Ll]ibrary/
[Uu]nityPackageManager/
[Bb]uild*/
[Ss]creenshots/
[Rr]ecord*/
[Ll]og*/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.csproj
*.booproj
/*#.csproj
*#.dll
.vs/
*.bat
*.zip
*.7z
*.rar
*.sln
*log
fmod_editor.log

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Assets/ConsolePro/

Assets/Heureka/

Assets/Plugins/EModules/

Assets/Plugins/EModules.meta

Assets/ConsolePro.meta

Assets/Heureka.meta

Assets/AutoSave/

Assets/Grids MX/

Assets/Mad Compile Time Optimizer/

Assets/Viscera/

Assets/AutoSave\.meta

Assets/Grids MX\.meta

Assets/Viscera\.meta

Assets/Mad Compile Time Optimizer\.meta

Assets/SceneOrganizer/

Assets/ScriptExecReorderManager/

Assets/SceneOrganizer\.meta

Assets/ScriptExecReorderManager\.meta

Assets/FindMissingComponents/

Assets/FindMissingComponents\.meta

Assets/FindPrefabsWithComponent\.meta

Assets/FindPrefabsWithComponent/

Assets/PrimitivesPro/

Assets/PrimitivesPro\.meta

Assets/MeshMaker/

Assets/MeshMaker\.meta

Assets/ProDrawCallOptimizer/

Assets/ProDrawCallOptimizer\.meta

Assets/MeshBaker/
